<!DOCTYPE html>
<html>
  <head>
    <title>TurboExample</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbo-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbo-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbo-track': 'reload' %>
  </head>
  <body>
    <div class="container">
      <ul class="nav">
        <li class="nav-item">
          <%= link_to 'Cursos', courses_path, class:"nav-link" %>
        </li>
      </ul>
      <hr>
      <%= yield %>
    </div>
  </body>
</html>
